html{
    font-size:20px;
}
body{
    background-image: url("imgs/bground.jpg");
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    font-size:1em;
}
div{
    display: flex;
    border:red;
}
.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0em 0.2em 0em;
    align-items: center;
    border-bottom: 1px solid rgb(205, 193, 193);
    position: sticky;
    font-size: 1em;
}
.mainstay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:20%;
    padding-left:1em;
}
.icon{
    height:4rem;
}

.menu-options{
    display:flex;
    justify-content: space-evenly;
    width:30%;
    font-size: 1em;
}

.left{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
}

.centeritems{
    display:flex;
    flex-direction: column;
    flex:auto;
    align-items: center;
    width:65%;
}

.quote{
    font-style: italic;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(28, 33, 18);
}

.headtxt{
    font-size:3em;
}
.secondtxt{
    margin: 1em 0em 0.3em 0.8em;
    font-size:1em;
    font-weight: 400;
    overflow: auto;
    padding:0em 0.9em 0.3em 0.9em;
}
.bluedc{
    background-color: #7289da;
    border: 2px solid #7289da;
    border-radius: 0.2em;
    color: #fff;
    height:2.5em;
    flex: 1 0.5 0;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.hero{
    background-color: rgba(215, 215, 215, 0.812);
    padding: 6em 0em 6em 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.heroimg{
  box-shadow: 0 0.1em 0.05em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.19);
}
.heroimg img{
  border-radius: 0.2em;
  max-height: 18em;
  
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:auto;
    background-color: rgba(35, 35, 35, 0.937);
    width:100%;
}
.actions .quote{
    color:rgb(188, 186, 186);
    text-align: center;
    padding:0.3em;
    font-size: 3em;
    margin: 0.5em 1em 0.5em 1em;
}
.cardset{
    padding:1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgb(188, 186, 186);
    flex-wrap: wrap;
    height:60%;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 14em;
    box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(188, 186, 186);
    border-radius: 0.2em;
    margin:1em;
}
.cards img{
    border-radius: 0.2em;
    margin-bottom: 0.3em;
}
.desc{
    padding: 0.9em 0.5em;
    font-size: 1em;
    color:black;
    text-align: center;
}

.testimony{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    padding: 8em 0em 8em 0em;
    
}
.bigquote{
    padding: 0.5em 2.5em 0.25em 2.5em;
    display: flex;
    flex-direction: column;
}
.qtext{
    color:white;
    font-weight:lighter;
    font-size:3em;
    flex-shrink:2;
    font-style: italic;
}
.authorname{
    color:white;
    font-size:1em;
    display:flex;
    flex:auto;
    justify-content: flex-end;
    padding-right:1.5em;
}

.closing{
    padding:8em 0em 8em 0em;
    flex:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
}

.closingcard{
    display:flex;
    flex:auto;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.cta{
    color:black;
    font-weight:lighter;
    font-size:2.5em;
    font-style: italic;
}
.footer{
    background-color: black;
    color:white;
    margin: auto;
    padding:0.25em;
    font-size:1em;
    justify-content: center;
}