body{
    background-image: url("imgs/bground.jpg");
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
div{
    display: flex;
    border:red;
}
.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px 5px 80px;
    align-items: center;
    border-bottom: 1px solid rgb(205, 193, 193);
    position: sticky;
    align-self: flex-start;
    width:95%;
}
.mainstay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 15vw;
}
.icon{
    height:70px;
}

.menu-options{
    display:flex;
    justify-content: space-around;
    min-width: 30vw;
}

.left{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
}

.centeritems{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:65%;
}

.quote{
    font-style: italic;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(28, 33, 18);
}

.headtxt{
    font-size:48px;
}
.secondtxt{
    margin: 15px 0px 5px 10px;
    font-size:18px;
    font-weight: 400;
    overflow: auto;
    padding:0px 30px 10px 30px;
}
.bluedc{
    background-color: #7289da;
    border: 2px solid #7289da;
    border-radius: 8px;
    color: #fff;
    width: 40%;
    height: 45px;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
}

.hero{
    min-height:500px;
    background-color: rgba(215, 215, 215, 0.812);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heroimg{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heroimg img{
  border-radius: 8px;
}

.actions{
    display: flex;
    flex-direction: column;
    max-height:600px;
    background-color: rgba(35, 35, 35, 0.937);
}
.actions .quote{
    color:rgb(188, 186, 186);
    text-align: center;
    padding:30px;
    font-size: 40px;
    margin:auto;
    width:30%
}
.cardset{
    padding:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgb(188, 186, 186);
}
.cards{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(188, 186, 186);
    border-radius: 8px;
}
.cards img{
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 10px;
}
.desc{
    padding: 30px 16px;
    font-size: 20px;
    color:black;
    text-align: center;
}

.testimony{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    min-height:500px;
    
}
.bigquote{
    padding: 20px 100px 10px 100px;
    display: flex;
    flex-direction: column;
}
.qtext{
    color:white;
    font-weight:lighter;
    font-size:40px;
    font-style: italic;
}
.authorname{
    color:white;
    font-size:20px;
    display:flex;
    justify-content: flex-end;
    padding-right:60px;
}

.closing{
    padding:30px;
    min-height:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
}

.closingcard{
    display:flex;
    flex-direction: column;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.cta{
    color:black;
    font-weight:lighter;
    font-size:40px;
    font-style: italic;
}
.footer{
    background-color: black;
    color:white;
    margin: auto;
    padding:10px;
    font-size:14px;
    justify-content: center;
}